body {
  background: linear-gradient(to top left, gold, white);
}

h1 {
  font-size: 3em;
  background-color: white;
  color: black;
  padding: 10px 20px;
  width: 80%;
  float: left;
  border-radius: 50px;
  display: block;
  text-align: center;
  margin: 0 auto;
  align-content: center;
}

img {
  width: 10%;
  height: auto;
  display: block;
  margin: 0 auto;
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: flex-start;
  width: 100%;
}

.education-container,
.skills-container,
.projects-container,
.Internship-container,
.Certifications-container {
  padding: 10px 20px;
  border-radius: 50px;
  width: 30%;
  margin: 10px;
}

.education-container {
  background-color: lightblue;
  order: 1;
}

.skills-container {
  background-color: lightgreen;
  order: 2;
}

.Internship-container {
  background-color: lightyellow;
  order: 2;
}

.projects-container {
  background-color: lightcoral;
  order: 3;
}

.Certifications-container {
  background-color: lightpink;
  order: 3;
}

.flex-row {
  display: flex;
  justify-content: space-around;
  width: 100%;
}

/* Arrange elements properly */
.section-top,
.section-bottom {
  display: flex;
  justify-content: space-around;
  width: 100%;
}

.section-top .education-container {
  flex: 1;
}

.section-top .skills-container,
.section-top .Internship-container {
  flex: 1;
}

.section-bottom .projects-container,
.section-bottom .Certifications-container {
  flex: 1;
}
.contact-container {
  background-color: white;
  border-radius: 50px;
  text-align: center;
  padding: 20px;
  width: 50%;
  margin: 20px auto;
  font-size: 1em;
}
